/* UTILITY */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
}


#bg-red{
    background-color: red;
}

#bg-green{
    background-color: green;
}

#bg-yellow{
    background-color: yellow;
}


/* HEADER */
header{
    background-color: red;
    height: 75px;
    position: relative;
    width: 100%;
}

.n-font{
    border-radius: 20px;
    background-color: white;
}

header > div{
    display: flex;
    position: absolute;
    padding: 5px;
    width: 150px;
    justify-content: space-around;
    top: 0;
    right: 0;    
    
}

/* MAIN */
.row{
    width: 100%;
    
    position: absolute;
    
}

.col-100{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 50%;
}

h1{
    color: yellow;
    text-align: center;
}

.h1-green{
    color: green;
    text-align: center;
}